/* LoaderScreen Styles */

#loader-screen {
  position: fixed;
  width: 100dvw;
  height: 100dvh;
  top: 0;
  left: 0;
  z-index: 1001;
  background: #F9F4ED;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  transition: opacity 1s linear;
  flex-direction: column;
  padding: 2rem;
}

#loader-screen h1 {
  text-shadow: -3px 4px 7px rgba(81, 67, 21, 0.8);
  font-family: "RingBearer", serif;
  font-size: 3rem;
  text-align: center;
}

@media (min-width: 840px) {
  #loader-screen h1 {
    font-size: 5rem;
  }
}

#loader-screen #load-btn {
  background: rgba(0, 0, 0, 0.1);
  padding: 1rem;
  border-radius: 1px;
  background: #F9F4ED;
  border: 0;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.63);
  font-size: 1.5rem;
  font-weight: bold;
  font-family: inherit;
  cursor: pointer;
}

#loader-screen #load-btn:hover {
  opacity: 0.9;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.63);
}

#loader-screen #lds-ring {
  display: none;
  position: relative;
  width: 80px;
  height: 80px;
}

#loader-screen #lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #000000;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #000000 transparent transparent transparent;
}

#loader-screen #lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

#loader-screen #lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

#loader-screen #lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
